body {
  font-family: 'Montserrat', sans-serif;
  margin: 0%;
}

.main-page {
  width: 100%;
  background: linear-gradient(90deg, #eaf9af 0%, #a5deff 100%);
}
.main-page-text-container {
  border-radius: 40px;
  background: #fff;
  padding-top: 60px;
  padding-right: 60px;
  padding-left: 60px;
  padding-bottom: 60px;
  box-sizing: border-box;
}
.wrapper {
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1170px;
  position: relative;
}
.main-page-left-side {
  width: 50%;
}
.gus-img {
  width: 50%;
}
.main-page-hello-text {
  font-weight: 600;
  font-size: 16px;
  line-height: 150%;
  color: #1b1d1f;
  margin-top: 0px;
  margin-bottom: 60px;
}
.main-page-title {
  font-weight: 600;
  font-size: 64px;
  line-height: 112%;
  color: #1b1d1f;
  margin-top: 0px;
  margin-bottom: 24px;
}
.main-page-descr {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #1b1d1f;
  margin-top: 0px;
  margin-bottom: 32px;
}
.main-page-btn {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #fff;
  padding-top: 12px;
  padding-right: 24px;
  padding-left: 24px;
  padding-bottom: 12px;
  border-radius: 8px;
  background: #ff6b0a;
  border: none;
  cursor: pointer;
}
.goit-logo {
  position: absolute;
  top: 32px;
  left: 0px;
}
.facts {
  padding-top: 48px;
  padding-bottom: 100px;
  text-align: center;
}
.facts-title {
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  font-size: 48px;
  line-height: 50%;
  color: #1b1d1f;
  margin-bottom: 32px;
  margin-top: 0px;
}

.facts-gerb {
  margin-bottom: 24px;
}
.facts-descr {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  text-align: center;
  color: #1b1d1f;
  width: 772px;
  margin: auto;
  margin-top: 0px;
  margin-bottom: 24px;
}
.facts-item {
  width: calc((100% / 3) - (24px * 2) / 3);
}
.facts-item-title {
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  font-size: 24px;
  line-height: 100%;
  text-align: center;
  color: #1b1d1f;
  margin-top: 0px;
  margin-bottom: 32px;
}
.facts-item-descr {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  text-align: center;
  color: #1b1d1f;
  margin-top: 0px;
  margin-bottom: 0px;
}
.form-container {
  width: 100%;
  padding-top: 80px;
  padding-bottom: 80px;
  box-sizing: border-box;
  background: linear-gradient(90deg, #eaf9af 0%, #a5deff 100%);
  display: flex;
  justify-content: center;
  align-items: center;
}
.form {
  border-radius: 40px;
  background: #fff;
  padding-top: 32px;
  padding-bottom: 60px;
  padding-left: 61px;
  padding-right: 61px;
  box-sizing: border-box;
  text-align: center;
}
.form-gerb {
  margin-bottom: 32px;
}
.form-title {
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  font-size: 24px;
  line-height: 100%;
  color: #1b1d1f;
  margin-top: 0px;
  margin-bottom: 12px;
}
.form-descr {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #1b1d1f;
  margin-top: 0px;
  margin-bottom: 24px;
}
.form-field {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.form-field-label {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #000;
  margin-bottom: 8px;
}
.form-field-name {
  margin-bottom: 24px;
}
.form-input {
  border: 1px solid #005bbb;
  border-radius: 8px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #1b1d1f;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 24px;
  padding-right: 24px;
  box-sizing: border-box;
  width: 100%;
}
.form-btn {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #fff;
  cursor: pointer;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 24px;
  padding-right: 24px;
  background: #ff6b0a;
  border-radius: 8px;
  border: none;
}
.form-field-email {
  margin-bottom: 48px;
}
.gus-anim {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  margin-bottom: auto;
  margin-top: auto;
  width: 100%;
  z-index: 2;
  pointer-events: none;
}
.Facts-item-img {
  width: 100%;
}
@media screen and (max-width: 1170px) {
  .wrapper {
    width: 100%;
  }
  .main-page-left-side {
    padding: 20px;
    box-sizing: border-box;
  }
  .main-page-text-container {
    padding: 20px;
  }
  .GOIT-Logo {
    top: 0px;
    padding: 5px;
  }

  .main-page-title {
    font-size: 44px;
  }
  .main-page-hello-text {
    margin-bottom: 10px;
  }
  .gus-img {
    align-self: flex-end;
  }
  .Facts-title {
    font-size: 35px;
  }
}
@media screen and (max-width: 810px) {
  .wrapper {
    width: 100%;
    flex-direction: column;
    align-items: center;
  }
  .Facts-title {
    font-size: 30px;
    padding-left: 5px;
    padding-right: 5px;
  }
  .GOIT-Logo {
    top: 0px;
    padding: 5px;
  }
  .main-page-text-container {
    text-align: center;
  }
  .Facts-descr {
    width: auto;
  }
}
@media screen and (max-width: 530px) {
  .Facts-title {
    font-size: 25px;
    padding-left: 5px;
    padding-right: 5px;
  }
  .Facts-descr {
    width: auto;
  }
  .form {
    width: 100%;
    font-size: 30px;
    padding-left: 5px;
    padding-right: 5px;
  }
  .gus-img {
    width: 100%;
  }
  .Facts-item-descr {
    width: 100%;
  }
}
@media screen and (max-width: 440px) {
  .Facts-title {
    font-size: 20px;
    padding-left: 5px;
    padding-right: 5px;
    line-height: 20px;
  }
  .Facts-item-title {
    line-height: 20px;
    font-size: 20px;
    margin-bottom: 10px;
  }
  .Facts {
    padding-top: 48px;
    padding-bottom: 48px;
    text-align: center;
  }
  .form-container {
    padding-top: 48px;
    padding-bottom: 48px;
  }
}
