/* @import 'simplelightbox/dist/simple-lightbox.min.css'; */
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0px;
  margin-bottom: 0px;
}
p {
  margin-top: 0px;
  margin-bottom: 0px;
}

body {
  font-family: 'Roboto', sans-serif;
  color: #434455;
  background-color: #ffffff;
  box-sizing: border-box;
}
ul,
ol {
  list-style-type: none;
  padding-left: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
}
a {
  text-decoration: none;
  color: inherit;
}
button {
  cursor: pointer;
}
img {
  display: block;
  max-width: 100%;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.btn {
  display: block;
  border-radius: 5px;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  background-color: #504ee6;
  color: #ffffff;
}
/* ===================================================== */
.container-card {
  margin-bottom: 10px;
}
.container {
  display: flex;
  margin-top: 20px;
  border: 2px solid lightgrey;
  border-radius: 10px;
  max-width: 1100px;
  max-height: 700px;
  margin-left: 10px;
}
.card-product-mini {
  display: flex;
}
.card-product-list {
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin-top: 30px;
  margin-right: 24px;
  margin-left: 20px;

  width: 80px;
  height: 104px;
  border: none;
}

.mini:hover {
  border: 3px solid #1a75ff;
}
.card-product {
  border-radius: 8px;
  /* width: 494px;
  height: 632px; */
  margin-right: 26px;
  margin-top: 20px;
}
.discription {
  max-width: 533px;
  margin-top: 40px;
}
.link-production {
  font-weight: 700;
  font-size: 16px;
  text-transform: uppercase;
  color: #1a75ff;
}
.title {
  font-weight: 700;
  font-size: 48px;
  color: #000;
  margin-bottom: 24px;
}
.title-text {
  font-weight: 400;
  font-size: 18px;
  color: rgba(0, 0, 0, 0.6);
  margin-bottom: 40px;
}
.price {
  /* display: flex;
  gap: 10px;
  align-items: center; */
  margin-bottom: 43px;
}
.sale {
  display: flex;
  gap: 10px;
  align-items: center;
}
.price-fix {
  font-weight: 700;
  font-size: 40px;
  color: #000;
}
.discount {
  font-weight: 700;
  font-size: 18px;
  color: #1a75ff;
  text-align: center;
  border-radius: 4px;
  padding: 4px;
  width: 61px;
  height: 31px;
  background: #acf;
  padding: 5px 0;
}
.max-price {
  font-weight: 700;
  font-size: 18px;
  text-decoration: line-through;
  color: rgba(0, 0, 0, 0.32);
}
.size {
  font-weight: 700;
  font-size: 16px;
  text-transform: uppercase;
  color: #000;
  margin-bottom: 20px;
}
.select-list {
  display: flex;
  flex-direction: row;
  gap: 16px;
  align-items: center;
  /* height: 48px; */
  font-weight: 700;
  font-size: 16px;
  text-transform: uppercase;
  color: #000;
  margin-bottom: 64px;
}
.is-active {
  padding: 16px 0;

  width: 48px;
  height: 48px;
  background: #000;
  font-weight: 700;
  font-size: 16px;
  text-transform: uppercase;
  text-align: center;
  color: #fff;
}
.btn-submit {
  font-weight: 700;
  font-size: 18px;
  text-transform: uppercase;
  color: #fff;
  border-radius: 4px;
  padding: 16px 4px;
  width: 533px;
  height: 55px;
  background: #1a75ff;
  outline: none;
}
.sl-wrapper {
  width: 480px;
  height: 640px;
}
